

#overlay3 {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     z-index: 1000;
}
#overlayDiv {
     width:300px;
     margin: 100px auto;
     background-color: #fff;
     border:1px solid #000;
     padding:15px;
     border:1px solid #000;
     padding:15px;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1); /* IE */
  -moz-transform: scale(1); /* FF */
  -webkit-transform: scale(1); /* Safari and Chrome */
  -o-transform: scale(1); /* Opera */
  padding: 10px;
}
.checkboxes{
    display: inline-block;
    margin-right: 20px;
}
#overlay3{
    visibility: hidden;
}
.radio{
    text-align: left;
}
#overlayDiv div input{
    display: inline-block;
}
#flipY{
    visibility: hidden;
}
.btn-icon {
    max-width: 100%;
}